.env
.ipynb_checkpoints
__pycache__/
.pytest_cache/
*.pyc
mlflow/
mlflow.db
logs/*.log
fraud_detection/
models/artifacts/*.pkl
data/features/*.parquet
data/processed/*.parquet
data/raw/*.csv
checkpoint.parquet